In [1]:
#01 
from pyspark import SQLContext
from pyspark import HiveContext
l = [('karthikeyan',100)]
df = spark.createDataFrame(l)
df.collect()
display(df)

_1,_2
karthikeyan,100

In [2]:
#02: without Schema dataframe
from pyspark import SQLContext 
from pyspark import HiveContext 
a= [('karthikeyan',100)]
df = spark.createDataFrame(a)
df.printSchema()
df.collect()

In [3]:
#03: Dataframe with Schema
from pyspark import HiveContext
from pyspark import SQLContext 
a = [('karthikeyan',1000)]
df = spark.createDataFrame(a, ['name','salary'])
df.printSchema()

In [4]:
#04 Create dataframe with schema
from pyspark import HiveContext
from pyspark import SQLContext 
a = [("Karthikeyan",10010)]
df= spark.createDataFrame(a,['name','salery'])
df.printSchema()
df.collect()

In [5]:
#Creating the dataframe from RDD 
from pyspark import HiveContext 
from pyspark import SQLContext
a = [('karthikeyan',1000)]
rdd = sc.parallelize(a)
df = spark.createDataFrame(rdd,['name','salary'])

df.printSchema()
df.collect()

In [6]:
>>> from pyspark.sql import Row
>>> Person = Row('name', 'age')
>>> person = rdd.map(lambda r: Person(r))
>>> df2 = spark.createDataFrame(person)
>>> df2.collect()
[Row(name=u'Alice', age=1)]

In [7]:
##*********************************************************************************************###

In [8]:
from pyspark import SQLContext
from pyspark import HiveContext 
a = [("karthikeyan",37)]
rdd = sc.parallelize(a)
schema = StructType([StructField("name",StringType()),
                     StructField("age",StringType())
                    ]
                   )
df = spark.createDataFrame(rdd,schema)
df.show()

In [9]:
df.show()
df['age']

In [10]:
df.select("age").collect()

In [11]:
df.select(df.age.alias('age1')).collect()

In [12]:
df.select(df.age).collect()

In [13]:
df.printSchema()
df.select(df.age.cast("string"))

In [14]:
df.desc()

In [15]:
from pyspark import SQLContext
from pyspark import HiveContext 
from pyspark.sql.types import *
from pyspark.sql.functions import col, when, lit
a = [("karthikeyan",37)]
rdd = sc.parallelize(a)
schema = StructType([StructField("name",StringType()),
                     StructField("age",StringType())
                    ]
                   )
df = spark.createDataFrame(rdd,schema)
df.show()

df1 = df.withColumn('name',lit(10))
df1.show()

In [16]:
df.registerTempTable("flight201601")

In [17]:
sqlContext.sql("select * from flight201601").show()
sqlContext.sql("ANALYZE TABLE flight_delays1_csv COMPUTE STATISTICS noscan ")